@model IEnumerable<ITS_System.Models.Booking>

@{
    ViewData["Title"] = "Manage Bookings";
}

<h1>Manage Bookings</h1>

<div class="d-flex flex-wrap justify-content-between">
    @foreach (var item in Model)
    {
        <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title">@Html.DisplayFor(modelItem => item.Class.Name)</h5>
                <h5 class="card-title">@Html.DisplayFor(modelItem => item.TimeStamp)</h5>
                <p class="card-text">
                    <strong>Instructor:</strong> @Html.DisplayFor(modelItem => item.Class.Name) <br />
                    <strong>Max Booking:</strong> @Html.DisplayFor(modelItem => item.TimeStamp) <br />
                </p>
                <div class="d-flex justify-content-between">
                    <a class="btn btn-danger w-100" asp-action="Delete" asp-route-id="@item.Id">Delete</a>       
                </div>
            </div>
        </div>
    }
</div>