@model IEnumerable<ITS_System.Models.ClassSchedule>

@{
    ViewData["Title"] = "Class Schedule";
}



<h1>Class Schedule</h1>

<div class = "d-flex flex-wrap justify-content-between" style="margin-left:2vh;margin-right:2vh;">
    @foreach (var item in Model)
    {
        <div class = "col-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.Name)</h5>
                    <h6 class="card-subtitle mb-2 text-muted">@Html.DisplayFor(modelItem => item.DateTime)</h6>
                    <h6 class="card-subtitle mb-2 text-muted">@Html.DisplayFor(modelItem => item.MaxNumbersOfBooking)</h6>
                    <h6 class="card-subtitle mb-2 text-muted">@Html.DisplayFor(modelItem => item.Room.Description)</h6>
                    <h6 class="card-subtitle mb-2 text-muted">@Html.DisplayFor(modelItem => item.Status)</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                </div>
            </div>
        </div>
    }
</div>

<div style = "margin-left: 10%;">
    <a asp-action="Index" asp-controller = "Home">Back to List</a> 
</div>